[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
requests = "*"
"bs4" = "*"
numpy = "*"
lxml = "*"
pysocks = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
"pdfminer.six" = "*"
celery = "*"
uwsgi = "*"
stem = "*"
flashtext = "*"
pyfasttext = "*"
googlemaps = "*"
scikit-learn = "*"
scipy = "*"
tensorflow-gpu = "==1.4.1"
cysignals = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
